<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>TutsServletJsp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
<!-- 
	<error-page>
		<error-code>404</error-code>
		<location>/Error</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/Error</location>
	</error-page>
-->
	<servlet>
		<description>ServletFromJsp</description>
		<servlet-name>ServletFromJsp</servlet-name>
		<servlet-class>com.melardev.tutsservlet.servlets.ServletFromJsp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletFromJsp</servlet-name>
		<url-pattern>/jsp-to-servlet</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>FilterUrlPattern</display-name>
		<filter-name>FilterUrlPattern</filter-name>
		<filter-class>com.melardev.tutsservlet.filters.FilterUrlPattern</filter-class>
		<init-param>
			<param-name>filter-name</param-name>
			<param-value>Generic-Logging-Filter</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>FilterUrlPattern</filter-name>
		<url-pattern>/filters/url_based/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<servlet>
		<description>ServletFiltered</description>
		<servlet-name>ServletFiltered</servlet-name>
		<servlet-class>com.melardev.tutsservlet.servlets.ServletFiltered</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletFiltered</servlet-name>
		<url-pattern>/servlet-filtered</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>FilterServlet</display-name>
		<filter-name>FilterServlet</filter-name>
		<filter-class>com.melardev.tutsservlet.filters.FilterServlet</filter-class>
		<init-param>
			<param-name>name</param-name>
			<param-value>Servlet Filterer</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>FilterServlet</filter-name>
		<servlet-name>ServletFiltered</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
</web-app>